{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock %}
{% load crispy_forms_tags %}

{%block content %}

<div class="jumbotron-custom">

    <div class="container calc-vh">
        
        <h1 class="padding-top text-center">Edit Profile</h1>
            
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-block w-50 mx-auto">Update</button>
        </form>

    </div>
</div>

{% endblock %}