{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron-custom">

    <div class="container calc-vh">
        <h1 class="padding-top text-center">Login</h1>

        <form method="post">
            {% csrf_token %}
            {{form | crispy}}
            <p>Don't have an account yet? Create one <a href="/register" class="a-link">here</a>!</p>
            <button type="submit" class="btn btn-block w-50 mx-auto">Login</button>
        </form>
    </div>
</div>

{% endblock %}