{% extends 'base.html' %}

{% block title %} Restaurants {% endblock %}

{% block content %}
    <div class="jumbotron-custom">
        <div class="container calc-vh">

            <h1 class="page-title-custom padding-top">Restaurants</h1>

            <div class="grid-restaurants">

                {% for item in rest %}
                        {% load static %}
                            <div class="img-div">
                                <a href="/restaurants/{{item.id}}">
                                    <img src="{% static '' %}{{item.thumbnail}}" alt="Restaurant image">
                                    
                                    <div class="rest-title-div">
                                        <p>{{item.name}}</p>
                                    </div>

                                </a>
                            </div>
                {% endfor %}

            </div>

        </div> 
    </div>
{% endblock %}