{% extends 'base.html' %}

{% block title %} Restaurants {% endblock %}

{% block content %}

<div class="jumbotron-custom">
    <div class="container calc-vh container-centered">

        <h1 class="page-title-custom">{{r.name}}</h1>
        
        <div class = "container-display-flex">
            <div class="container-half-big">
                {% load static %}
                <img src="{% static '' %}{{r.thumbnail}}" alt="Restaurant image">
            </div>

            <div class="container-half">
                <label>Address:</label>
                <p class="restaurant-address-p">{{r.address}}</p>
                
                <label>Busy Tables:</label>
                <p class="restaurant-busy-p">The number of busy tables is <span>{{tables}}</span> </p>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}